<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Dashboard</title>
<meta content="" name="descriptison">
<meta content="" name="keywords">

<!-- Favicons -->
<link href="assets1/img/favicon.png" rel="icon">
<link href="assets1/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets1/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<link href="assets1/vendor/icofont/icofont.min.css" rel="stylesheet">
<link href="assets1/vendor/boxicons/css/boxicons.min.css"
	rel="stylesheet">
<link href="assets1/vendor/venobox/venobox.css" rel="stylesheet">
<link href="assets1/vendor/animate.css/animate.min.css" rel="stylesheet">
<link href="assets1/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="assets1/vendor/owl.carousel/assets/owl.carousel.min.css"
	rel="stylesheet">
<link
	href="assets1/vendor/bootstrap-datepicker/css/bootstrap-datepicker.min.css"
	rel="stylesheet">

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
	crossorigin="anonymous"></script>

<!-- Template Main CSS File -->
<link href="assets1/css/style.css" rel="stylesheet">

<!-- =======================================================
  * Template Name: Medilab - v2.0.0
  * Template URL: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

	<!-- ======= Top Bar ======= -->


	<!-- ======= Header ======= -->
	<!-- ======= Header ======= -->
  <header id="header" >
    <div class="container d-flex align-items-center h1atas">
        <div id="h1atasA">
          <h1 class="logo mr-auto"><a href="">Med.Id</a>
          </h1>
      </div>
     <form action="" id="formAtas">
          <input id="formAtasCari" type="text" >
        <a id="formAtasBtn" class="btn" href="">
              <i id="formAtasBtnIcn" class="fas fa-search fa-1x"></i></a>
      </form>

      <div class="dropdown">
      <input type="text" id="lRoleId" th:value="${lRoleId}" hidden=true>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" th:text="${'Halo , '+hActiveUser}">
        
          Dropdown button
        </button>
        <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Profil</a>
          <a class="dropdown-item" href="/logout">Logout</a>
<!--           <a class="dropdown-item" href="#">Link 2</a> -->
<!--           <a class="dropdown-item" href="#">Link 3</a> -->
        </div>
      </div>
    </div>
	</header>
	<!-- End Header -->

	<!-- ======= Hero Section ======= -->
	<div class="sidebar">
		<!-- <a class="active" href="#home">Home</a> <a href="#news">News</a> <a
			href="#contact">Contact</a> <a href="#about">About</a> -->
			<div id="listSide"></div>
	</div>

	<main id="main">



		<!-- ======= Services Section ======= -->
		<section id="services" class="services">
			<div class="container">
			
			
					<div id="listMenu"></div>
					
				<!--   <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="card" id="1">
            <div class="icon-box">           
              <div class="icon"><i class="icofont-heart-beat"></i></div>              
              <h4><a href="" id="1">Admin</a></h4>
              <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
            </div>
          </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="icofont-drug"></i></div>
              <h4><a href="" id="2">Sed ut perspiciatis</a></h4>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="icofont-dna-alt-2"></i></div>
              <h4><a href="" id="3">Magni Dolores</a></h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="icofont-heartbeat"></i></div>
              <h4><a href="" id="4">Nemo Enim</a></h4>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="icofont-disabled"></i></div>
              <h4><a href="" id="5">Dele cardo</a></h4>
              <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="icofont-autism"></i></div>
              <h4><a href="" id="6">Divera don</a></h4>
              <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
            </div>
          </div>

        </div>  -->

			</div>
		</section>
		<!-- End Services Section -->

		<!-- ======= Appointment Section ======= -->
		<!-- End Appointment Section -->

		<!-- ======= Departments Section ======= -->
		<!-- End Departments Section -->

		<!-- ======= Doctors Section ======= -->
		<!-- End Doctors Section -->

		<!-- ======= Frequently Asked Questions Section ======= -->
		<!-- End Frequently Asked Questions Section -->

		<!-- ======= Testimonials Section ======= -->
		<!-- End Testimonials Section -->

		<!-- ======= Gallery Section ======= -->
		<!-- End Gallery Section -->

		<!-- ======= Contact Section ======= -->


	</main>
	<!-- End #main -->



	<!-- ======= Footer ======= -->
	<footer id="footer">



		<div class="container d-md-flex py-4">

			<div class="mr-md-auto text-center text-md-left">
				<div class="copyright"></div>
				<div class="credits">
					<!-- All the links in the footer should remain intact. -->
					<!-- You can delete the links only if you purchased the pro version. -->
					<!-- Licensing information: https://bootstrapmade.com/license/ -->
					<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/ -->

				</div>
			</div>
			<div class="social-links text-center text-md-right pt-3 pt-md-0">

			</div>
		</div>
	</footer>
	<!-- End Footer -->

	<div id="preloader"></div>
	<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

	<!-- Vendor JS Files -->
	<script src="assets1/vendor/jquery/jquery.min.js"></script>
	<script src="assets1/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="assets1/vendor/jquery.easing/jquery.easing.min.js"></script>
	<script src="assets1/vendor/php-email-form/validate.js"></script>
	<script src="assets1/vendor/venobox/venobox.min.js"></script>
	<script src="assets1/vendor/waypoints/jquery.waypoints.min.js"></script>
	<script src="assets1/vendor/counterup/counterup.min.js"></script>
	<script src="assets1/vendor/owl.carousel/owl.carousel.min.js"></script>
	<script
		src="assets1/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

	<!-- Template Main JS File -->
	<script src="assets1/js/main.js"></script>

</body>
<script type="text/javascript" src="../jquery-3.5.1.min.js"></script>
<script src="../bootstrap4/js/bootstrap.min.js"></script>
<script src="../landingPage.js"></script>
</html>