.left {
	float: left;
	display: block;
}

.right{
	float: right;
	display: block;
}

.button1 {
  transition-duration: 0.4s;
  border-radius: 8px;
  background-color: white;
  color: #008CBA;
  border: 1px solid #008CBA;
  padding: 10px 35px;
}

.button2 {
  transition-duration: 0.4s;
  border-radius: 8px;
  background-color: white;
  border: 1px solid #008CBA;
  padding: 10px 30px;
  font-size: 13px;
}

.button3 {
  transition-duration: 0.4s;
  border-radius: 8px;
  margin: 10px 0px;
  color: #008CBA;
  font-weight: bold;
  font-size: 20px;
  background-color: white;
  border: 1px solid #008CBA;
  padding: 5px 29px;
  font-size: 13px;
  width: 100%;
}

.button3:hover {
  background-color: #008CBA;
  color: white;
}

.button4 {
  transition-duration: 0.4s;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  background-color: #008CBA;
  border: 1px solid #008CBA;
  padding: 5px 17px;
  font-size: 13px;
}

.button4:hover {
  background-color: white;
  color: #008CBA;
}

.button5 {
  transition-duration: 0.4s;
  border-radius: 8px;
  color: white;
  background-color: #008CBA;
  border: 1px solid #008CBA;
  padding: 10px 35px;
}

.button5:hover {
  background-color: white;
  color: #008CBA;
}

.button1:hover {
  background-color: #008CBA;
  color: white;
}

.headmedia {
	margin-left: -7px;
	font-size: 17px;
}

.coco {
	color: #008CBA;
}

.menu {
	margin-left: 70px;
	font-size: 15px;
}
.img-circle{
  width: 95px;
  border-radius: 50%;
}

.img-circle2{
  width: 80%;
  border-radius: 50%;
}

.marg {
	margin-top: 40px;
}

.detailkiri {
  transition-duration: 0.4s;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #c0c0c0;
  padding: 10px 10px;
  font-size: 13px;
  margin-bottom: 40px;
}

.detailkanan {
  transition-duration: 0.4s;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #008CBA;
  padding: 10px 10px;
  font-size: 13px;
  margin-bottom: 30px;
}